---
import { Table } from "@opui/astro"
---

<Table>
  <Table.ColumnGroup>
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 300px" />
  </Table.ColumnGroup>
  <Table.Head>
    <Table.Row>
      <Table.HeaderCell>Prop</Table.HeaderCell>
      <Table.HeaderCell>Type</Table.HeaderCell>
      <Table.HeaderCell>Default</Table.HeaderCell>
      <Table.HeaderCell>Description</Table.HeaderCell>
    </Table.Row>
  </Table.Head>
  <Table.Body>
    <Table.Row>
      <Table.Cell><code>autoFit</code></Table.Cell>
      <Table.Cell><code>boolean</code></Table.Cell>
      <Table.Cell><code>false</code></Table.Cell>
      <Table.Cell>Automatically adjusts its width to content.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell><code>size</code></Table.Cell>
      <Table.Cell><code>"small"</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>The size of the text field.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell><code>variant</code></Table.Cell>
      <Table.Cell><code>"filled"</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>The visual variant of the text field.</Table.Cell>
    </Table.Row>
  </Table.Body>
</Table>
