---
import { Table } from "@opui/astro"
---

<Table>
  <Table.ColumnGroup>
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 300px" />
  </Table.ColumnGroup>
  <Table.Head>
    <Table.Row>
      <Table.HeaderCell>Type</Table.HeaderCell>
      <Table.HeaderCell>Modifiers</Table.HeaderCell>
      <Table.HeaderCell>Default</Table.HeaderCell>
      <Table.HeaderCell>Description</Table.HeaderCell>
    </Table.Row>
  </Table.Head>
  <Table.Body>
    <Table.Row>
      <Table.Cell>Wrapper</Table.Cell>
      <Table.Cell><code>.field</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell
        >The <code>&lt;input&gt;</code> must be wrapped in a <code
          >&lt;span class="field"&gt;</code
        > element. Border, background, and focus styling are inherited from <code
          >.field</code
        >, not the input itself.</Table.Cell
      >
    </Table.Row>
    <Table.Row>
      <Table.Cell>Auto-fit</Table.Cell>
      <Table.Cell><code>.auto-fit</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell
        >When enabled, the element changes size depending on its content.</Table.Cell
      >
    </Table.Row>
    <Table.Row>
      <Table.Cell>Sizes</Table.Cell>
      <Table.Cell><code>.small</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>The size of the element.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell>Variants</Table.Cell>
      <Table.Cell>default, <code>.filled</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>The variant to use.</Table.Cell>
    </Table.Row>
  </Table.Body>
</Table>
