---
import { ButtonGroup } from "@opui/astro"
import { Button } from "@opui/astro"
---

<ButtonGroup class="anatomy">
  <Button>Button</Button>
  <Button>Button</Button>
  <Button>Button</Button>
</ButtonGroup>
