---
import ComponentList from "../../../components/ComponentList.astro"
import Component from "../../../layouts/Component.astro"
import { frameworkPaths } from "../../../utils/framework-routing"

export const getStaticPaths = frameworkPaths
---

<Component showToc={false}>
  <Fragment slot="title">Components</Fragment>
  <Fragment slot="preamble">
    Here are all OPUI components. More components are continuously being added!
  </Fragment>

  <section>
    <ComponentList />
  </section>
</Component>

<style>
  section {
    margin-block-start: var(--size-8);
  }
</style>
