---
import { Table } from "@opui/astro"
---

<h3 id="tabs-astro">Tabs</h3>
<p>The main container for the tab items.</p>

<Table>
  <Table.ColumnGroup>
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 300px" />
  </Table.ColumnGroup>
  <Table.Head>
    <Table.Row>
      <Table.HeaderCell>Prop</Table.HeaderCell>
      <Table.HeaderCell>Type</Table.HeaderCell>
      <Table.HeaderCell>Default</Table.HeaderCell>
      <Table.HeaderCell>Description</Table.HeaderCell>
    </Table.Row>
  </Table.Head>
  <Table.Body>
    <Table.Row>
      <Table.Cell><code>class</code></Table.Cell>
      <Table.Cell><code>string</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>Additional class names.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell><code>name</code></Table.Cell>
      <Table.Cell><code>string</code></Table.Cell>
      <Table.Cell><code>"tabs-XXXX"</code></Table.Cell>
      <Table.Cell
        >A unique name for the exclusive group. Shared with all children.</Table.Cell
      >
    </Table.Row>
  </Table.Body>
</Table>

<h3 id="tabs-item-astro">Tabs.Item</h3>
<p>
  A logical grouping for a tab trigger and its content. Handles state
  synchronization.
</p>

<Table>
  <Table.ColumnGroup>
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 300px" />
  </Table.ColumnGroup>
  <Table.Head>
    <Table.Row>
      <Table.HeaderCell>Prop</Table.HeaderCell>
      <Table.HeaderCell>Type</Table.HeaderCell>
      <Table.HeaderCell>Default</Table.HeaderCell>
      <Table.HeaderCell>Description</Table.HeaderCell>
    </Table.Row>
  </Table.Head>
  <Table.Body>
    <Table.Row>
      <Table.Cell><code>open</code></Table.Cell>
      <Table.Cell><code>boolean</code></Table.Cell>
      <Table.Cell><code>false</code></Table.Cell>
      <Table.Cell>Whether this tab is initially active.</Table.Cell>
    </Table.Row>
  </Table.Body>
</Table>

<h3 id="tabs-tab-astro">Tabs.Tab</h3>
<p>The visible trigger for the tab.</p>

<Table>
  <Table.ColumnGroup>
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 300px" />
  </Table.ColumnGroup>
  <Table.Head>
    <Table.Row>
      <Table.HeaderCell>Prop</Table.HeaderCell>
      <Table.HeaderCell>Type</Table.HeaderCell>
      <Table.HeaderCell>Default</Table.HeaderCell>
      <Table.HeaderCell>Description</Table.HeaderCell>
    </Table.Row>
  </Table.Head>
  <Table.Body>
    <Table.Row>
      <Table.Cell><code>class</code></Table.Cell>
      <Table.Cell><code>string</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>Optional class name.</Table.Cell>
    </Table.Row>
  </Table.Body>
</Table>

<h3 id="tabs-panel-astro">Tabs.Panel</h3>
<p>The content area for the tab.</p>

<Table>
  <Table.ColumnGroup>
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 300px" />
  </Table.ColumnGroup>
  <Table.Head>
    <Table.Row>
      <Table.HeaderCell>Prop</Table.HeaderCell>
      <Table.HeaderCell>Type</Table.HeaderCell>
      <Table.HeaderCell>Default</Table.HeaderCell>
      <Table.HeaderCell>Description</Table.HeaderCell>
    </Table.Row>
  </Table.Head>
  <Table.Body>
    <Table.Row>
      <Table.Cell><code>class</code></Table.Cell>
      <Table.Cell><code>string</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>Optional class name.</Table.Cell>
    </Table.Row>
  </Table.Body>
</Table>
