---
import { Table } from "@opui/astro"
---

<Table>
  <Table.ColumnGroup>
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 300px" />
  </Table.ColumnGroup>
  <Table.Head>
    <Table.Row>
      <Table.HeaderCell>Type</Table.HeaderCell>
      <Table.HeaderCell>Modifiers</Table.HeaderCell>
      <Table.HeaderCell>Default</Table.HeaderCell>
      <Table.HeaderCell>Description</Table.HeaderCell>
    </Table.Row>
  </Table.Head>
  <Table.Body>
    <Table.Row>
      <Table.Cell>Children</Table.Cell>
      <Table.Cell
        ><code>&lt;legend&gt;</code>, <code>.ui-legend</code>, <code>.fields</code
        >, <code>.ui-end-text</code>, checkbox, radio, switch</Table.Cell
      >
      <Table.Cell>-</Table.Cell>
      <Table.Cell>Supported child elements.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell>Direction</Table.Cell>
      <Table.Cell>default, <code>.ui-row</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>The orientation of the element.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell>Disabled</Table.Cell>
      <Table.Cell><code>[disabled]</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>When applied, disabled styles are shown.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell>Validation</Table.Cell>
      <Table.Cell><code>.ui-critical</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>When applied, error styles are shown.</Table.Cell>
    </Table.Row>
  </Table.Body>
</Table>
