---
import { Table } from "@opui/astro"
---

<Table>
  <Table.ColumnGroup>
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 300px" />
  </Table.ColumnGroup>
  <Table.Head>
    <Table.Row>
      <Table.HeaderCell>Prop</Table.HeaderCell>
      <Table.HeaderCell>Type</Table.HeaderCell>
      <Table.HeaderCell>Default</Table.HeaderCell>
      <Table.HeaderCell>Description</Table.HeaderCell>
    </Table.Row>
  </Table.Head>
  <Table.Body>
    <Table.Row>
      <Table.Cell><code>critical</code></Table.Cell>
      <Table.Cell><code>boolean</code></Table.Cell>
      <Table.Cell><code>false</code></Table.Cell>
      <Table.Cell>Field group error state.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell><code>legend</code></Table.Cell>
      <Table.Cell><code>string</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>The text for the legend element.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell><code>direction</code></Table.Cell>
      <Table.Cell><code>"row"</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>The orientation of the field group.</Table.Cell>
    </Table.Row>
  </Table.Body>
</Table>
