---
import { List } from "@opui/astro"
import { ListItem } from "@opui/astro"
import { CheckboxInput } from "@opui/astro"
---

<List>
  <ListItem type="checkbox" for="checkbox-example-1">
    <div slot="text">Checkbox 1</div>
    <CheckboxInput slot="end" id="checkbox-example-1" />
  </ListItem>
  <ListItem type="checkbox" for="checkbox-example-2">
    <div slot="text">Checkbox 2</div>
    <CheckboxInput slot="end" id="checkbox-example-2" />
  </ListItem>
</List>
