---
import { List } from "@opui/astro"
import { ListItem } from "@opui/astro"
---

<List>
  <ListItem headline="Save all">
    <div slot="end"><kbd>CTRL+ALT+DEL</kbd></div>
  </ListItem>
  <ListItem headline="Save">
    <div slot="end"><kbd>CTRL+S</kbd></div>
  </ListItem>
</List>
