---
import { List } from "@opui/astro"
import { ListItem } from "@opui/astro"
import { RadioInput } from "@opui/astro"
---

<List>
  <ListItem type="radio" for="radio-example-1">
    <div slot="text">Radio 1</div>
    <RadioInput slot="end" id="radio-example-1" name="radio-example-group" />
  </ListItem>
  <ListItem type="radio" for="radio-example-2">
    <div slot="text">Radio 2</div>
    <RadioInput slot="end" id="radio-example-2" name="radio-example-group" />
  </ListItem>
</List>
