---
import Component from "../../layouts/Component.astro"
import Example from "../../components/Example"
import AutoExample from "../../components/AutoExample.astro"
import ChipCSS from "@opui/css/components/chip.css?raw"
import ExampleAnatomy from "../../component-examples/chip/Anatomy.astro"
import Conditional from "../../components/Conditional.astro"
---

<Component
  slug="chip"
  browserSupport={["color-mix", "has", "light-dark", "relative-color"]}
  changelogPaths={[
    {
      path: "packages/opui/components/Chip/Chip.astro",
      type: "component",
    },
    { path: "src/docs/components/chip.astro", type: "docs" },
    { path: "src/component-examples/chip", type: "docs" },
    {
      path: "packages/opui/css/components/chip.css",
      type: "css",
    },
    { path: "src/component-api/chip", type: "api" },
  ]}
  installationTabs={[{ title: "chip.css", code: ChipCSS, lang: "css" }]}
>
  <Fragment slot="title">Chip</Fragment>
  <Fragment slot="preamble">
    Chips are compact elements that represent an input, attribute, or action.
  </Fragment>

  <section>
    <h2 id="variants">Variants</h2>
    <Conditional as="p">
      <Fragment slot="astro">
        The Chip has two variants: <code>tonal</code> (default) and <code
          >outlined</code
        >.
      </Fragment>
      <Fragment slot="html">
        The Chip has two variants: tonal (default) and <code>.ui-outlined</code
        >.
      </Fragment>
    </Conditional>
    <AutoExample name="Variants" row />
  </section>

  <section>
    <h2 id="icon">Icon</h2>
    <Conditional>
      <p slot="astro">
        The icon can be placed before or after the text using the
        <code>start</code> and <code>end</code> slots.
      </p>
      <p slot="html">
        The icon can be placed before or after the text. <br />
        Make sure the text is wrapped in the <code>.ui-text</code> wrapper class.
      </p>
    </Conditional>
    <AutoExample name="Icon" row />
  </section>

  <section>
    <h2 id="button">Button</h2>
    <AutoExample name="Button" column centered />
  </section>

  <section>
    <h2 id="link">Link</h2>
    <AutoExample name="Link" row />
  </section>

  <section>
    <h2 id="sizes">Sizes</h2>
    <AutoExample name="Sizes" row />
  </section>

  <Fragment slot="anatomy">
    <Conditional>
      <p slot="astro">
        1. Container: <code>&lt;Chip&gt;</code> (renders as <code>div</code>, <code
          >a</code
        > or <code>button</code>)
        <br />
        2. Text: <code>label</code> prop or <code>default slot</code>
        <br />
        3. Icon (optional): <code>&lt;svg&gt;</code> element in the <code
          >start</code
        > or <code>end</code> slot
      </p>
      <p slot="html">
        1. Container: <code>div</code>, <code>a</code> or <code>button</code> with
        <code>.ui-chip</code> class
        <br />
        2. Text: <code>.ui-text</code> wrapper
        <br />
        3. Icon (optional): <code>&lt;svg&gt;</code> element
      </p>
    </Conditional>
    <Example row>
      <Example.Preview slot="preview-astro" code={ExampleAnatomy} />
    </Example>
  </Fragment>
</Component>

<style is:global>
  .anatomy {
    outline: var(--_anatomy-border-gray);
    outline-offset: -2px;

    .ui-text,
    svg {
      outline: var(--_anatomy-border-red);
      outline-offset: -3px;
    }
  }
</style>
