---
import { Table } from "@opui/astro"
---

<Table>
  <Table.ColumnGroup>
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 300px" />
  </Table.ColumnGroup>
  <Table.Head>
    <Table.Row>
      <Table.HeaderCell>Type</Table.HeaderCell>
      <Table.HeaderCell>Modifiers</Table.HeaderCell>
      <Table.HeaderCell>Default</Table.HeaderCell>
      <Table.HeaderCell>Description</Table.HeaderCell>
    </Table.Row>
  </Table.Head>
  <Table.Body>
    <Table.Row>
      <Table.Cell>Children</Table.Cell>
      <Table.Cell
        ><code>.ui-label</code>, <code>.ui-end-text</code>, <code
          >.ui-icon-unchecked</code
        >, <code>.ui-icon-checked</code></Table.Cell
      >
      <Table.Cell>-</Table.Cell>
      <Table.Cell>Optional children.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell>Sizes</Table.Cell>
      <Table.Cell><code>.ui-small</code>, default</Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>The size of the element.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell>Layout</Table.Cell>
      <Table.Cell
        ><code>.ui-spread</code>, <code>.ui-stack</code>, default</Table.Cell
      >
      <Table.Cell>-</Table.Cell>
      <Table.Cell
        >The layout of the switch. <code>.ui-spread</code> pushes label and switch
        to opposite ends. <code>.ui-stack</code> stacks the label under the switch.</Table.Cell
      >
    </Table.Row>
    <Table.Row>
      <Table.Cell>Validation</Table.Cell>
      <Table.Cell><code>.ui-critical</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>When applied, error styles are shown.</Table.Cell>
    </Table.Row>
  </Table.Body>
</Table>
