---
import { Table } from "@opui/astro"
---

<Table>
  <Table.ColumnGroup>
    <Table.Column width="100px" />
    <Table.Column width="250px" />
    <Table.Column width="100px" />
    <Table.Column width="250px" />
  </Table.ColumnGroup>
  <Table.Head>
    <Table.Row>
      <Table.HeaderCell>Type</Table.HeaderCell>
      <Table.HeaderCell>Modifiers</Table.HeaderCell>
      <Table.HeaderCell>Default</Table.HeaderCell>
      <Table.HeaderCell>Description</Table.HeaderCell>
    </Table.Row>
  </Table.Head>
  <Table.Body>
    <Table.Row>
      <Table.Cell>Base</Table.Cell>
      <Table.Cell><code>.ui-form</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>The main form container.</Table.Cell>
    </Table.Row>
  </Table.Body>
</Table>

<h3 id="fieldset-html">FieldSet</h3>
<Table>
  <Table.ColumnGroup>
    <Table.Column width="100px" />
    <Table.Column width="250px" />
    <Table.Column width="100px" />
    <Table.Column width="250px" />
  </Table.ColumnGroup>
  <Table.Head>
    <Table.Row>
      <Table.HeaderCell>Type</Table.HeaderCell>
      <Table.HeaderCell>Modifiers</Table.HeaderCell>
      <Table.HeaderCell>Default</Table.HeaderCell>
      <Table.HeaderCell>Description</Table.HeaderCell>
    </Table.Row>
  </Table.Head>
  <Table.Body>
    <Table.Row>
      <Table.Cell>Base</Table.Cell>
      <Table.Cell><code>.ui-fieldset</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>The field set container.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell>Modifiers</Table.Cell>
      <Table.Cell><code>[disabled]</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>Whether the field set is disabled.</Table.Cell>
    </Table.Row>
  </Table.Body>
</Table>

<h3 id="field-legend-html">FieldLegend</h3>
<Table>
  <Table.ColumnGroup>
    <Table.Column width="100px" />
    <Table.Column width="250px" />
    <Table.Column width="100px" />
    <Table.Column width="250px" />
  </Table.ColumnGroup>
  <Table.Head>
    <Table.Row>
      <Table.HeaderCell>Type</Table.HeaderCell>
      <Table.HeaderCell>Modifiers</Table.HeaderCell>
      <Table.HeaderCell>Default</Table.HeaderCell>
      <Table.HeaderCell>Description</Table.HeaderCell>
    </Table.Row>
  </Table.Head>
  <Table.Body>
    <Table.Row>
      <Table.Cell>Base</Table.Cell>
      <Table.Cell><code>.ui-legend</code>, <code>legend</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>The label for the field set.</Table.Cell>
    </Table.Row>
  </Table.Body>
</Table>

<h3 id="field-description-html">Field description</h3>
<Table>
  <Table.ColumnGroup>
    <Table.Column width="100px" />
    <Table.Column width="250px" />
    <Table.Column width="100px" />
    <Table.Column width="250px" />
  </Table.ColumnGroup>
  <Table.Head>
    <Table.Row>
      <Table.HeaderCell>Type</Table.HeaderCell>
      <Table.HeaderCell>Modifiers</Table.HeaderCell>
      <Table.HeaderCell>Default</Table.HeaderCell>
      <Table.HeaderCell>Description</Table.HeaderCell>
    </Table.Row>
  </Table.Head>
  <Table.Body>
    <Table.Row>
      <Table.Cell>Base</Table.Cell>
      <Table.Cell><code>.ui-field-description</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>Field description for the field set.</Table.Cell>
    </Table.Row>
  </Table.Body>
</Table>

<h3 id="field-group-html">FieldGroup</h3>
<Table>
  <Table.ColumnGroup>
    <Table.Column width="100px" />
    <Table.Column width="250px" />
    <Table.Column width="100px" />
    <Table.Column width="250px" />
  </Table.ColumnGroup>
  <Table.Head>
    <Table.Row>
      <Table.HeaderCell>Type</Table.HeaderCell>
      <Table.HeaderCell>Modifiers</Table.HeaderCell>
      <Table.HeaderCell>Default</Table.HeaderCell>
      <Table.HeaderCell>Description</Table.HeaderCell>
    </Table.Row>
  </Table.Head>
  <Table.Body>
    <Table.Row>
      <Table.Cell>Base</Table.Cell>
      <Table.Cell><code>.ui-field-group</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>Container for related input components.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell>Variants</Table.Cell>
      <Table.Cell><code>.ui-row</code>, default</Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>The orientation of the field group.</Table.Cell>
    </Table.Row>
  </Table.Body>
</Table>
