---
import { Table } from "@opui/astro"
---

<Table>
  <Table.ColumnGroup>
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 300px" />
  </Table.ColumnGroup>
  <Table.Head>
    <Table.Row>
      <Table.HeaderCell>Type</Table.HeaderCell>
      <Table.HeaderCell>Modifiers</Table.HeaderCell>
      <Table.HeaderCell>Default</Table.HeaderCell>
      <Table.HeaderCell>Description</Table.HeaderCell>
    </Table.Row>
  </Table.Head>
  <Table.Body>
    <Table.Row>
      <Table.Cell>Children</Table.Cell>
      <Table.Cell
        ><code>& > hgroup</code>, <code>& > .ui-content</code>, <code
>& > .ui-actions</code></Table.Cell
      >
      <Table.Cell>-</Table.Cell>
      <Table.Cell>Optional wrappers for child content.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell>Variants</Table.Cell>
      <Table.Cell
        ><code>.ui-text</code>, <code>.ui-outlined</code>, <code>.ui-tonal</code>, <code
>.ui-elevated</code></Table.Cell
      >
      <Table.Cell><code>.ui-text</code></Table.Cell>
      <Table.Cell>The variant to use.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell>Alignment</Table.Cell>
      <Table.Cell><code>.ui-align-end</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>Align actions to the end.</Table.Cell>
    </Table.Row>
  </Table.Body>
</Table>
