<dl class="ui-description-list ui-dotted anatomy">
  <div class="ui-item">
    <dt class="ui-term">Price</dt>
    <hr class="ui-divider" />
    <dd class="ui-description">6 950 000</dd>
  </div>
</dl>
