---
import { Table } from "@opui/astro"
---

<Table>
  <Table.ColumnGroup>
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 300px" />
  </Table.ColumnGroup>
  <Table.Head>
    <Table.Row>
      <Table.HeaderCell>Prop</Table.HeaderCell>
      <Table.HeaderCell>Type</Table.HeaderCell>
      <Table.HeaderCell>Default</Table.HeaderCell>
      <Table.HeaderCell>Description</Table.HeaderCell>
    </Table.Row>
  </Table.Head>
  <Table.Body>
    <Table.Row>
      <Table.Cell><code>disabled</code></Table.Cell>
      <Table.Cell><code>boolean</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>Select disabled state.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell><code>critical</code></Table.Cell>
      <Table.Cell><code>boolean</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>Select error state.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell><code>items</code></Table.Cell>
      <Table.Cell><code>Item[]</code></Table.Cell>
      <Table.Cell><code>[]</code></Table.Cell>
      <Table.Cell
        >An array of objects with <code>text</code> and <code>value</code> properties.</Table.Cell
      >
    </Table.Row>
    <Table.Row>
      <Table.Cell><code>label</code></Table.Cell>
      <Table.Cell><code>string</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>The label for the select.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell><code>required</code></Table.Cell>
      <Table.Cell><code>boolean</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>Select required state.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell><code>size</code></Table.Cell>
      <Table.Cell><code>"small"</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>The size of the select.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell><code>variant</code></Table.Cell>
      <Table.Cell><code>"outlined" | "filled"</code></Table.Cell>
      <Table.Cell><code>"outlined"</code></Table.Cell>
      <Table.Cell>The visual variant of the select.</Table.Cell>
    </Table.Row>
  </Table.Body>
</Table>
