*::selection {
  background: var(--color-12);
  color: var(--color-1);
}

:where(h1, h2, h3, h4, h5, h6, hgroup h1 + p) {
  font-family: var(--font-bricolage-grotesque), sans-serif;
}

.anatomy {
  --_anatomy-border-red: 2px dotted tomato;
  --_anatomy-border-gray: 2px dotted gray;

  pointer-events: none;

  .show-code-button {
    outline: none !important;
    pointer-events: auto;

    * {
      outline: none !important;
    }
  }
}

.example-container {
  :where(.ui-text-field, .ui-textarea, .ui-select):not(.ui-auto-fit, .ui-row)
    :where(input, textarea, select) {
    min-inline-size: 25ch;
  }
}

.example-preview {
  .ui-auto-fit .ui-field {
    inline-size: fit-content;
  }
}

/* Setup */
:root {
  --site-gap: var(--size-4, 20px);
  --site-header-end-inline-size: 535px;
  --site-page-gutters: var(--site-gap);

  @media (width >=600px) {
    --site-page-gutters: calc(var(--site-gap) * 2);
  }

  /* Content width */
  --site-content-document: 80ch;
  --site-content-sm: 540px;
  --site-content-md: 1140px;
  --site-content-lg: 1500px;
  --site-content-text: 65ch;
}

:where(h1, h2, h3, h4, h5, h6) {
  scroll-margin: var(--size-11);
}

/* Wrapper for consistent widths and gutters */
.container {
  margin: 0 auto;
  max-inline-size: min(
    calc(100% - var(--site-page-gutters)),
    var(--site-content-md)
  );

  /* Sizes */
  &.is-narrow {
    max-inline-size: min(
      calc(100% - var(--site-page-gutters)),
      var(--site-content-sm)
    );
  }

  &.is-wide {
    max-inline-size: min(
      calc(100% - var(--site-page-gutters)),
      var(--site-content-lg)
    );
  }

  &.is-text {
    max-inline-size: min(
      calc(100% - var(--site-page-gutters)),
      var(--site-content-text)
    );
  }

  /* Horizontal alignment */
  &.is-start {
    margin-inline: var(--site-gap) auto;
  }

  &.is-end {
    margin-inline: auto var(--site-gap);
  }
}

.code-tabs {
  & > .ui-tab-label:first-of-type {
    margin-inline-start: var(--size-2);
  }

  & > .ui-tab-panel {
    margin-block-start: 0;
  }
}
