---
import { Switch } from "@opui/astro"
---

<div class="example-row ui-spacious">
  <Switch required>Default</Switch>
  <Switch required stack>Stack</Switch>
</div>

<div class="example-row ui-spacious">
  <Switch critical>
    Default
    <Fragment slot="end-text">Supporting text</Fragment>
  </Switch>
  <Switch critical stack>
    Stack
    <Fragment slot="end-text">Supporting text</Fragment>
  </Switch>
</div>
