---
import { Table } from "@opui/astro"
---

<Table>
  <Table.ColumnGroup>
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 300px" />
  </Table.ColumnGroup>
  <Table.Head>
    <Table.Row>
      <Table.HeaderCell>Type</Table.HeaderCell>
      <Table.HeaderCell>Modifiers</Table.HeaderCell>
      <Table.HeaderCell>Default</Table.HeaderCell>
      <Table.HeaderCell>Description</Table.HeaderCell>
    </Table.Row>
  </Table.Head>
  <Table.Body>
    <Table.Row>
      <Table.Cell><strong>Input</strong></Table.Cell>
      <Table.Cell><code>input[type="range"]</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>The native range input element.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell><strong>Range</strong></Table.Cell>
      <Table.Cell><code>.range</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>Wrapper for label and input styling.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell><strong>Spread</strong></Table.Cell>
      <Table.Cell><code>.spread</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>Modifier for a spread layout.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell><strong>Variant</strong></Table.Cell>
      <Table.Cell
        ><code>.filled</code>, <code>.default</code>, <code>.tonal</code
        ></Table.Cell
      >
      <Table.Cell>-</Table.Cell>
      <Table.Cell>Modifiers for different background surfaces.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell><strong>Label</strong></Table.Cell>
      <Table.Cell><code>.label</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>The label element for the range.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell><strong>Value</strong></Table.Cell>
      <Table.Cell><code>output.value</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell
        >Optional <code>&lt;output&gt;</code> showing the input's current value. Use
        <code>for</code> to associate it with the input and an optional
        <code>data-suffix</code> attribute for a unit suffix.</Table.Cell
      >
    </Table.Row>
    <Table.Row>
      <Table.Cell><strong>Start text</strong></Table.Cell>
      <Table.Cell><code>.start-text</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell
        >Optional text displayed between label and the range input (often used
        with spread layout).</Table.Cell
      >
    </Table.Row>
    <Table.Row>
      <Table.Cell><strong>End text</strong></Table.Cell>
      <Table.Cell><code>.end-text</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>Optional text displayed below the range input.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell><strong>Spread</strong></Table.Cell>
      <Table.Cell><code>.spread</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell
        >Modifier class to layout label and input on opposite sides.</Table.Cell
      >
    </Table.Row>
  </Table.Body>
</Table>
