---
import { Card } from "@opui/astro"
import { Button } from "@opui/astro"
---

<Card variant="elevated" class="anatomy">
  <Fragment slot="header">
    <p>Overline</p>
    <h2 class="ui-h3">Headline</h2>
    <p>Subhead</p>
  </Fragment>
  <Fragment slot="content">
    Explain more about the topic shown in the headline and subhead through
    supporting text.
  </Fragment>
  <Fragment slot="actions">
    <Button>Share</Button>
    <Button>Learn more</Button>
  </Fragment>
</Card>
