---
import { Card } from "@opui/astro"
---

<Card variant="outlined">
  <Fragment slot="header">
    <p>Blog</p>
    <h3>My ultra-great blog post</h3>
    <p>Please read it.</p>
  </Fragment>
</Card>
