---
import { Card } from "@opui/astro"
---

<Card variant="text">
  <div class="ui-content">Text</div>
</Card>

<Card variant="outlined">
  <div class="ui-content">Outlined</div>
</Card>

<Card variant="tonal">
  <div class="ui-content">Tonal</div>
</Card>

<Card variant="elevated">
  <div class="ui-content">Elevated</div>
</Card>
