@layer components.extended {
  :where([role="group"].ui-button-group) {
    --_border-radius: var(--button-border-radius);
    --_edge-color: transparent;

    border-radius: var(--_border-radius);
    display: inline-flex;
    flex-wrap: wrap;
    inline-size: fit-content;
    max-inline-size: 100%;
    outline: var(--border-width) solid var(--_edge-color);
    outline-offset: calc(-1 * var(--border-width));
    overflow: hidden;

    &.ui-outlined {
      --_edge-color: light-dark(var(--color-16), var(--color-1));

      &.ui-critical {
        --_edge-color: var(--critical);
      }

      &.ui-primary {
        --_edge-color: var(--primary);
      }
    }

    /* Button */
    & > .ui-button {
      --_border-color: transparent;
      border-radius: 0;
      box-shadow:
        calc(-1 * var(--border-width)) 0 0 0 var(--_divider-color),
        0 calc(-1 * var(--border-width)) 0 0 var(--_divider-color);
      flex: auto;

      /* button.css > --_accent-tonal */
      --_divider-color: light-dark(
        oklch(from var(--_accent-tonal) calc(l - 0.1) c h),
        oklch(from var(--_accent-tonal) calc(l + 0.1) c h)
      );

      /* Siblings */
      &:is([disabled], [aria-disabled="true"]) {
        box-shadow:
          calc(-1 * var(--border-width)) 0 0 0
            color-mix(in oklch, var(--_divider-color) 40%, transparent),
          0 calc(-1 * var(--border-width)) 0 0
            color-mix(in oklch, var(--_divider-color) 40%, transparent);
      }

      &:focus-visible {
        --focus-ring-color: currentColor;
        outline-offset: calc(var(--focus-ring-inset) - var(--size-1));
      }

      :where(.ui-button-group.ui-x-small) & {
        --_font-size: var(--font-size-0);
        --_min-height: var(--button-size-x-small);
        --_padding-inline: 1ex;
        padding-block: 0;
      }

      :where(.ui-button-group.ui-small) & {
        --_font-size: var(--font-size-05);
        --_min-height: var(--button-size-small);
        --_padding-inline: 1.25ex;
        padding-block: 0;
      }

      :where(.ui-button-group.ui-large) & {
        --_min-height: var(--button-size-large);
        --_padding-inline: 2.5ex;
      }

      &:where(:has(> svg:only-child)) {
        --_icon-size: 0.7lh;
        padding-inline: 0;
      }

      :where(.ui-button-group.ui-outlined) & {
        --_divider-color: var(--_accent);

        &:where(:not([disabled], [aria-disabled="true"])) {
          @media (hover: hover) {
            &:where(:not(:active):hover) {
              --_bg-color: var(--_accent);
              --_text-color: var(--_accent-contrast);
            }
          }

          &:where(:active) {
            --_bg-color: var(--_outlined-active-bg-color);
            --_text-color: var(--_accent-contrast);
          }
        }
      }

      :where(.ui-button-group.ui-tonal) & {
        --_bg-color: var(--_accent-tonal);
        --_text-color: var(--_accent-tonal-contrast);

        &:where(:not([disabled], [aria-disabled="true"])) {
          @media (hover: hover) {
            &:where(:not(:active):hover) {
              --_bg-color: var(--_accent);
              --_text-color: var(--_accent-contrast);
            }
          }

          &:where(:active) {
            --_bg-color: var(--_outlined-active-bg-color);
            --_text-color: var(--_accent-contrast);
          }
        }
      }

      :where(.ui-button-group.ui-filled) & {
        --_bg-color: var(--_accent);
        --_text-color: var(--_accent-contrast);
        --_divider-color: currentColor;

        :where(.ui-button-group.ui-critical, .ui-button-group.ui-primary) & {
          --_divider-color: light-dark(
            oklch(from var(--_accent) calc(l - 0.1) c h),
            oklch(from var(--_accent) calc(l + 0.1) c h)
          );
        }

        &:where(:not([disabled], [aria-disabled="true"])) {
          @media (hover: hover) {
            &:where(:not(:active):hover) {
              --_bg-color: var(--_filled-hover-bg-color);
            }
          }

          &:where(:active) {
            --_bg-color: var(--_filled-active-bg-color);
          }
        }
      }
    }

    &.ui-vertical {
      flex-direction: column;

      & > .ui-button {
        padding: var(--size-2);

        &:has(> svg:only-child) {
          aspect-ratio: 1;
          padding: var(--size-1);
        }
      }

      &:is(.ui-small, .ui-x-small) > .ui-button {
        padding-block: 0;
      }
    }

    /* Overflow */
    &.ui-scrollable {
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      overscroll-behavior-inline: contain;
      scrollbar-width: thin;

      & > .ui-button {
        flex: none;
      }
    }

    &.ui-shrink {
      flex-wrap: nowrap;

      & > .ui-button {
        min-inline-size: 0;

        &:has(> svg:only-child) {
          flex: none;
        }

        &:not(:has(> svg:only-child)) {
          overflow: hidden;
          white-space: nowrap;
        }

        &:not(:has(> *)) {
          align-content: center;
          display: block;
          text-overflow: ellipsis;
        }

        & > span {
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
