@layer components.root {
  :where(.ui-button) {
    --_motion: var(--motion, 1);
    --_accent: light-dark(var(--color-16), var(--color-1));
    --_accent-contrast: light-dark(var(--color-1), var(--color-16));
    --_accent-tonal: var(--surface-tonal);
    --_accent-tonal-contrast: var(--_accent);
    --_accent-text: light-dark(
      var(--_accent),
      oklch(from var(--_accent) max(l, 0.75) c h)
    );

    @container style(--contrast: more) {
      --_accent-text: light-dark(
        var(--_accent),
        oklch(from var(--_accent) max(l, 0.85) min(c, 0.1) h)
      );
    }

    --_default-hover-bg-color: light-dark(
      oklch(from var(--_accent) l 0.01 h / var(--state-hover-alpha)),
      oklch(from var(--_accent) l 0.01 h / var(--state-hover-alpha-dark))
    );
    --_default-active-bg-color: light-dark(
      oklch(from var(--_accent) l 0.06 h / var(--state-active-alpha)),
      oklch(from var(--_accent) l 0.06 h / var(--state-active-alpha-dark))
    );

    --_filled-hover-bg-color: light-dark(
      oklch(from var(--_accent) calc(l + 0.2) c h),
      oklch(from var(--_accent) calc(l - 0.1) c h)
    );
    --_filled-active-bg-color: light-dark(
      oklch(from var(--_accent) calc(l + 0.3) c h),
      oklch(from var(--_accent) calc(l - 0.15) c h)
    );
    --_outlined-active-bg-color: var(--_filled-active-bg-color);

    &.ui-critical,
    &.ui-primary,
    /* Color inherited from Button Group. */
    :where(.ui-button-group.ui-critical, .ui-button-group.ui-primary) > & {
      --_accent-contrast: var(--primary-contrast);
      --_accent-tonal: light-dark(var(--color-6), var(--color-11));
      --_accent-tonal-contrast: light-dark(var(--gray-15), var(--gray-1));

      @container style(--contrast: more) {
        --_accent-tonal: light-dark(var(--color-4), var(--color-12));
      }

      --_default-hover-bg-color: oklch(
        from var(--_accent) l c h / var(--state-hover-alpha-accent)
      );
      --_default-active-bg-color: oklch(
        from var(--_accent) l c h / var(--state-active-alpha-accent)
      );

      --_filled-hover-bg-color: oklch(from var(--_accent) calc(l - 0.1) c h);
      --_filled-active-bg-color: oklch(from var(--_accent) calc(l - 0.15) c h);

      --_outlined-active-bg-color: oklch(from var(--_accent) calc(l - 0.1) c h);
    }

    &.ui-critical,
    :where(.ui-button-group.ui-critical) > & {
      --_accent: var(--critical);
      --_accent-contrast: var(--gray-1);

      @container style(--contrast: more) {
        --_accent: light-dark(
          var(--critical),
          oklch(from var(--critical) min(l, 0.45) c h)
        );
      }
    }

    &.ui-primary,
    :where(.ui-button-group.ui-primary) > & {
      --_accent: var(--primary);
    }
  }

  :where(.ui-button) {
    --_bg-color: transparent;
    --_border-color: transparent;
    --_border-width: var(--border-size-1);
    --_font-size: var(--font-size-1);
    --_icon-size: 0.7lh;
    --_min-height: var(--button-size);
    --_border-radius: var(--button-border-radius);
    --_padding-inline: 1.5ex;
    --_text-color: var(--_accent-text);

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    align-items: center;
    background-color: var(--_bg-color);
    border: var(--_border-width) solid var(--_border-color);
    border-radius: var(--_border-radius);
    color: var(--_text-color);
    display: inline-flex;
    font-size: var(--_font-size);
    font-weight: var(--font-weight-bold);
    gap: var(--size-2);
    justify-content: center;
    min-block-size: var(--_min-height);
    padding-block: min(
      0.5ex,
      max(0px, (var(--_min-height) - 1lh - var(--_border-width) * 2) / 2)
    );
    padding-inline: var(--_padding-inline);
    text-align: center;
    text-decoration: none;
    transition:
      background-color calc(var(--duration-fast) * var(--_motion)) var(--ease),
      color calc(var(--duration-fast) * var(--_motion)) var(--ease),
      border-color calc(var(--duration-fast) * var(--_motion)) var(--ease);
    user-select: none;

    &:where(a[aria-disabled="true"]) {
      pointer-events: none;
    }

    /* Hover & Active */
    &:where(:not([disabled], [aria-disabled="true"])) {
      @media (hover: hover) {
        &:where(:not(:active):hover) {
          --_bg-color: var(--_default-hover-bg-color);
        }
      }

      &:where(:hover:active),
      &[aria-current="page"] {
        --_bg-color: var(--_default-active-bg-color);
      }
    }

    /* Icons / Keyboard */
    &:where(:has(> svg)) {
      gap: 1ex;

      & > svg {
        block-size: auto;
        color: currentColor;
        flex-shrink: 0;
        inline-size: auto;
        max-block-size: var(--_icon-size);
      }
    }

    &:where(:has(> svg:first-child + *)) {
      padding-inline-start: calc(var(--_padding-inline) * 0.75);
    }

    &:where(:has(> * + svg:last-child)) {
      padding-inline-end: calc(var(--_padding-inline) * 0.75);
    }

    /* Keyboard input */
    kbd {
      background-color: color-mix(in oklch, currentColor 12%, transparent);
      border: 0;
      border-radius: var(--radius-2);
      color: inherit;
      font-family: var(--font-mono);
      font-size: 0.8em;
      font-weight: 400;
      line-height: 1.2;
      opacity: 0.8;
      padding-block: 0.1ex;
      padding-inline: 0.3ex;

      @container style(--contrast: more) {
        opacity: 1;
      }
    }

    /* Sizes */
    &.ui-x-small {
      --_min-height: var(--button-size-x-small);
      --_font-size: var(--font-size-0);
      --_padding-inline: 1ex;
      padding-block: 0;
    }

    &.ui-small {
      --_min-height: var(--button-size-small);
      --_font-size: var(--font-size-05);
      --_padding-inline: 1.25ex;
      padding-block: 0;
    }

    &.ui-large {
      --_min-height: var(--button-size-large);
      --_padding-inline: 2.5ex;
    }

    &:where(:has(> svg:only-child)) {
      --_icon-size: calc(var(--_min-height) * 0.6);
      min-inline-size: var(--_min-height);
      padding-inline: 0;
    }

    /* Variants */
    &.ui-outlined {
      --_bg-color: transparent;
      --_border-color: var(--_accent);
      --_text-color: var(--_accent-text);

      @container style(--contrast: more) {
        --_border-color: var(--_accent-text);
      }

      &:where(:not([disabled], [aria-disabled="true"])) {
        @media (hover: hover) {
          &:where(:not(:active):hover) {
            --_bg-color: var(--_accent);
            --_border-color: var(--_accent);
            --_text-color: var(--_accent-contrast);
          }
        }

        &:where(:active) {
          --_bg-color: var(--_outlined-active-bg-color);
          --_border-color: var(--_outlined-active-bg-color);
          --_text-color: var(--_accent-contrast);
        }
      }
    }

    &.ui-tonal {
      --_bg-color: var(--_accent-tonal);
      --_text-color: var(--_accent-tonal-contrast);

      &:where(:not([disabled], [aria-disabled="true"])) {
        @media (hover: hover) {
          &:where(:not(:active):hover) {
            --_bg-color: var(--_accent);
            --_text-color: var(--_accent-contrast);
          }
        }

        &:where(:active) {
          --_bg-color: var(--_outlined-active-bg-color);
          --_text-color: var(--_accent-contrast);
        }
      }
    }

    &.ui-filled {
      --_bg-color: var(--_accent);
      --_text-color: var(--_accent-contrast);

      &:where(:not([disabled], [aria-disabled="true"])) {
        @media (hover: hover) {
          &:where(:not(:active):hover) {
            --_bg-color: var(--_filled-hover-bg-color);
          }
        }

        &:where(:active) {
          --_bg-color: var(--_filled-active-bg-color);
        }
      }
    }

    /* Disabled */
    &:is([disabled], [aria-disabled="true"]) {
      cursor: not-allowed;
      opacity: var(--disabled-opacity);

      &:not(.ui-filled, .ui-tonal) {
        --_text-color: var(--text-disabled);
      }
    }

    &.ui-rounded {
      --_border-radius: var(--radius-round);
    }
  }

  /* File input */
  :where(input[type="file"]) {
    align-self: flex-start;
    border: var(--border-size-1) solid var(--surface-filled);
    border-radius: var(--radius-2);
    box-shadow: var(--inner-shadow-4);
    color: var(--text-muted-contrast);
    cursor: initial;
    max-inline-size: 100%;
    padding: 0;
  }

  :where(input[type="file"])::file-selector-button {
    cursor: pointer;
    margin-inline-end: var(--size-relative-6);
  }
}
