@layer components.extended {
  :where([role="group"].ui-button-group) {
    --_border-radius: var(--button-border-radius);

    border-radius: var(--_border-radius);
    display: inline-flex;
    min-width: max-content;

    /* Button */
    & > button {
      border-radius: 0;

      /* button.css > --_accent-tonal */
      --_divider-color: light-dark(
        oklch(from var(--_accent-tonal) calc(l - 0.1) c h),
        oklch(from var(--_accent-tonal) calc(l + 0.1) c h)
      );

      &.ui-outlined {
        --_divider-color: var(--_border-color);
      }

      &.ui-filled {
        --_divider-color: currentColor;
      }

      &:focus-visible {
        outline-offset: -4px;
      }

      :where(.ui-button-group.ui-small) & {
        --_min-height: 1.875rem;
        --_padding-inline: 1.25ex;
        padding-block: 0;
      }

      :where(.ui-button-group.ui-large) & {
        --_min-height: 2.875rem;
        --_padding-inline: 2.5ex;
      }

      &:where(:has(> svg:only-child)) {
        padding-inline: 0;
      }

      :where(.ui-button-group.ui-outlined) & {
        --_border-color: var(--_accent);
        --_divider-color: var(--_accent);

        &:where(:not([disabled], [aria-disabled="true"], .ui-disabled)) {
          @media (hover: hover) {
            &:where(:not(:active):hover) {
              --_bg-color: var(--_accent);
              --_border-color: var(--_accent);
              --_text-color: var(--_accent-contrast);
            }
          }

          &:where(:active) {
            --_bg-color: var(--_outlined-active-bg-color);
            --_border-color: var(--_outlined-active-bg-color);
            --_text-color: var(--_accent-contrast);
          }
        }
      }

      :where(.ui-button-group.ui-tonal) & {
        --_bg-color: var(--_accent-tonal);
        --_text-color: var(--_accent-tonal-contrast);

        &:where(:not([disabled], [aria-disabled="true"], .ui-disabled)) {
          @media (hover: hover) {
            &:where(:not(:active):hover) {
              --_bg-color: var(--_accent);
              --_text-color: var(--_accent-contrast);
            }
          }

          &:where(:active) {
            --_bg-color: var(--_outlined-active-bg-color);
            --_text-color: var(--_accent-contrast);
          }
        }
      }

      :where(.ui-button-group.ui-filled) & {
        --_bg-color: var(--_accent);
        --_text-color: var(--_accent-contrast);
        --_divider-color: currentColor;

        :where(.ui-button-group.ui-critical, .ui-button-group.ui-primary) & {
          --_divider-color: light-dark(
            oklch(from var(--_accent) calc(l - 0.1) c h),
            oklch(from var(--_accent) calc(l + 0.1) c h)
          );
        }

        &:where(:not([disabled], [aria-disabled="true"], .ui-disabled)) {
          @media (hover: hover) {
            &:where(:not(:active):hover) {
              --_bg-color: var(--_filled-hover-bg-color);
            }
          }

          &:where(:active) {
            --_bg-color: var(--_filled-active-bg-color);
          }
        }
      }
    }

    &:not(.ui-vertical) {
      & > button {
        border-inline-width: var(--border-width) 0;

        &:first-of-type {
          border-end-start-radius: var(--_border-radius);
          border-start-start-radius: var(--_border-radius);
        }

        &:last-of-type {
          border-end-end-radius: var(--_border-radius);
          border-start-end-radius: var(--_border-radius);
          /* TODO: make sure this is the fix */
          border-inline-width: var(--border-width);
        }

        /* Siblings */
        & + & {
          border-inline-start-color: var(--_divider-color);

          &:is([disabled], [aria-disabled="true"], .ui-disabled) {
            border-inline-start-color: color-mix(
              in oklch,
              var(--_divider-color) 40%,
              transparent
            );
          }
        }
      }
    }

    &.ui-vertical {
      flex-direction: column;

      & > button {
        border-block-width: var(--border-width) 0;
        padding: var(--size-2);

        &:has(svg) {
          aspect-ratio: 1;
          padding: var(--size-1);
        }

        &:first-of-type {
          border-start-start-radius: var(--_border-radius);
          border-start-end-radius: var(--_border-radius);
        }

        &:last-of-type {
          border-end-start-radius: var(--_border-radius);
          border-end-end-radius: var(--_border-radius);
          /* TODO: make sure this is a good fix */
          border-block-width: var(--border-width);
        }

        & + & {
          border-block-start: var(--border-width) solid var(--_divider-color);

          &:is([disabled], [aria-disabled="true"], .ui-disabled) {
            border-block-start-color: color-mix(
              in oklch,
              var(--_divider-color) 40%,
              transparent
            );
          }
        }
      }
    }
  }
}
