@layer components.root {
  :where(.ui-chip) {
    --_bg-color: var(--surface-tonal);
    --_border-color: var(--border-color);
    --_color: var(--text-primary);

    align-items: center;
    background: var(--_bg-color) var(--ripple, none);
    block-size: var(--size-7, 2rem);
    border-radius: var(--radius-2, 0.5rem);
    border: 1px solid var(--_border-color);
    color: var(--_color);
    display: inline-flex;
    font-size: var(--font-size-0, 0.75rem);
    gap: var(--size-1);
    padding-inline: var(--size-2);
    text-decoration: none;

    /* Variants */
    &.ui-tonal {
      --_bg-color: var(--surface-tonal);
      --_color: var(--text-primary);
    }

    &.ui-outlined {
      --_bg-color: var(--surface-default);
      --_color: var(--text-primary);
    }

    &:where(button, a):where(:not([disabled])) {
      &:where(:not(:active)):hover {
        --_bg-color: light-dark(oklch(from var(--surface-tonal) calc(l * 0.98) c h),
            oklch(from var(--surface-tonal) calc(l * 1.1) c h));
      }
    }

    /* Icon */
    &:has(svg:first-child) {
      padding-inline: var(--size-1) var(--size-2);
    }

    &:has(svg:last-child) {
      padding-inline: var(--size-2) var(--size-1);
    }

    &:has(svg) {
      svg {
        flex-shrink: 0;
        inline-size: var(--size-3);
      }
    }

    /* Sizes */
    &.ui-small {
      block-size: var(--size-5);
    }

    &.ui-multiline {
      block-size: auto;
    }

    /* Ripple effect */
    background-position: center;

    &:where(:not([disabled])) {
      &:where(:not(:active):hover) {
        --ripple: radial-gradient(circle, transparent 1%, var(--_bg-color) 1%) center/15000%;

        transition: background var(--button-ripple-duration);
      }

      &:where(:hover:active) {
        background-size: var(--button-ripple-size);
        transition: background 0s;
      }
    }

    /* Disabled */
    &:where([disabled]) {
      opacity: 0.64;
      --_color: color-mix(in oklch,
          var(--text-muted) 50%,
          var(--surface-default));
      cursor: not-allowed;
    }
  }
}
