@layer components.root {
  :where(.ui-chip) {
    --_bg-color: var(--surface-tonal);
    --_border-color: var(--border-color);
    --_text-color: var(--text-primary);

    align-items: center;
    background-color: var(--_bg-color);
    block-size: var(--chip-size);
    border: var(--border-width) solid var(--_border-color);
    border-radius: var(--border-radius);
    color: var(--_text-color);
    display: inline-flex;
    font-size: var(--font-size-0);
    gap: var(--size-1);
    max-inline-size: 100%;
    padding-inline: var(--size-2);
    text-decoration: none;

    &:not(.ui-multiline) > .ui-text {
      min-inline-size: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    /* Variants */
    &.ui-tonal {
      --_bg-color: var(--surface-tonal);
      --_text-color: var(--text-primary);
    }

    &.ui-outlined {
      --_bg-color: var(--surface-default);
      --_text-color: var(--text-primary);
    }

    &:where(button, a):where(
        :not([disabled], [aria-disabled="true"], .ui-disabled)
      ) {
      @media (hover: hover) {
        &:hover {
          --_bg-color: light-dark(
            oklch(from var(--surface-tonal) calc(l * 0.98) c h),
            oklch(from var(--surface-tonal) calc(l * 1.1) c h)
          );
        }
      }
    }

    /* Icon */
    &:has(svg:first-child) {
      padding-inline: var(--size-1) var(--size-2);
    }

    &:has(svg:last-child) {
      padding-inline: var(--size-2) var(--size-1);
    }

    &:has(svg) {
      svg {
        flex-shrink: 0;
        inline-size: var(--icon-size-small);
      }
    }

    /* Sizes */
    &.ui-small {
      block-size: var(--chip-size-small);
    }

    &.ui-large {
      block-size: var(--chip-size-large);
      font-size: var(--font-size-05);
      padding-inline: var(--size-3);

      &:has(svg:first-child) {
        padding-inline: var(--size-2) var(--size-3);
      }

      &:has(svg:last-child) {
        padding-inline: var(--size-3) var(--size-2);
      }

      svg {
        inline-size: var(--icon-size);
      }
    }

    &.ui-multiline {
      block-size: auto;
    }

    /* Disabled */
    &:where([disabled], [aria-disabled="true"], .ui-disabled) {
      opacity: var(--disabled-opacity);
      --_text-color: var(--text-disabled);
      cursor: not-allowed;
    }

    &:where(a):where([aria-disabled="true"], .ui-disabled) {
      pointer-events: none;
    }
  }
}
