@layer components.root {
  :where(.description-list) {
    --_border-style: solid;
    --_border-width: 1px;

    display: grid;
    gap: var(--size-3);
    margin: 0;
    padding: 0;

    &.dotted {
      --_border-style: dotted;
      --_border-width: 2px;
    }

    .item {
      display: grid;
      margin: 0;
      padding: 0;

      dt {
        display: block;
        font-weight: 700;
        overflow: hidden;
        position: relative;
      }

      dd {
        margin: 0;
      }
    }

    @container (width > 45ch) {
      gap: var(--size-1);

      .item {
        align-items: baseline;
        display: grid;
        gap: var(--size-1);
        grid-template-columns: 1fr auto;

        dt {
          inline-size: max-content;

          &::after {
            display: inline-block;
          }
        }

        dd {
          color: var(--text-muted);
          text-align: end;
        }
      }

      &.bordered .item {
        grid-template-columns: auto 1fr auto;

        dt {
          order: 0;
        }

        dd {
          order: 2;
        }

        &::after {
          background-color: transparent;
          block-size: 2px;
          border-block-end: var(--_border-width) var(--_border-style) var(--border-color);
          content: "";
          order: 1;
        }
      }
    }
  }
}
