@layer components.extended {
  :where(.ui-dialog) {
    --_motion: var(--motion, 1);
    --_backdrop-bg-color: var(--backdrop-color);
    --_backdrop-blur: blur(var(--backdrop-blur));
    --_scroll-shadow-color: light-dark(oklch(0 0 0 / 10%), oklch(0 0 0 / 40%));
    inline-size: 100%;
    inset: 0;
    margin: auto;
    margin-block-start: 15dvb;
    max-block-size: calc(85dvb - var(--size-4));
    max-inline-size: calc(100% - var(--size-4));
    overflow: auto;
    padding-block: 0;
    pointer-events: none;
    position: fixed;

    @media (width > 600px) {
      max-inline-size: 60ch;
    }

    /* Animation */
    /* There's no close animation, intentionally */
    opacity: 0;

    &::backdrop {
      backdrop-filter: var(--_backdrop-blur);
      background-color: var(--_backdrop-bg-color);
    }

    &:not([open]) {
      display: none;
    }

    & > :where(:not(.ui-content)) {
      flex-shrink: 0;
    }

    & > .ui-content {
      anchor-name: --ui-dialog-content;
      anchor-scope: --ui-dialog-content;
      container-type: scroll-state;
      overflow-y: auto;
      overscroll-behavior: contain;

      &::before,
      &::after {
        block-size: var(--size-2);
        content: "";
        inset-inline: anchor(--ui-dialog-content inside);
        opacity: 0;
        pointer-events: none;
        position: absolute;
        transition: opacity calc(var(--duration) * var(--_motion));
        z-index: 1;
      }

      &::before {
        background: linear-gradient(var(--_scroll-shadow-color), transparent);
        inset-block-start: anchor(--ui-dialog-content inside);
      }

      &::after {
        background: linear-gradient(transparent, var(--_scroll-shadow-color));
        inset-block-end: anchor(--ui-dialog-content inside);
      }
    }

    @container scroll-state(scrollable: top) {
      & > .ui-content::before {
        opacity: 1;
      }
    }

    @container scroll-state(scrollable: bottom) {
      & > .ui-content::after {
        opacity: 1;
      }
    }

    .ui-actions {
      justify-content: end;
      padding-inline: var(--size-3) var(--size-1);
    }

    &[open] {
      opacity: 1;
      pointer-events: all;
      transition:
        display calc(var(--duration) * var(--_motion)) allow-discrete,
        overlay calc(var(--duration) * var(--_motion)) allow-discrete,
        opacity calc(var(--duration) * var(--_motion)) var(--ease-enter);

      @starting-style {
        opacity: 0;
      }
    }
  }

  :where(html:has(.ui-dialog[open])) {
    block-size: 100%;
    overflow: clip;
    overscroll-behavior: contain;
    scrollbar-gutter: stable;
  }
}
