@layer components.extended {
  :where(.ui-dialog) {
    --_motion: var(--motion, 1);
    inline-size: 100%;
    inset: 0;
    margin: auto;
    margin-block-start: 15%;
    max-inline-size: calc(100% - var(--size-4));
    padding-block: 0;
    pointer-events: none;
    position: fixed;

    @media (width > 600px) {
      max-inline-size: 60ch;
    }

    /* Animation */
    /* There's no close animation, intentionally */
    opacity: 0;

    &::backdrop {
      backdrop-filter: blur(1px);
      background-color: rgba(0, 0, 0, 0.5);
    }

    &:not([open]) {
      display: none;
    }

    &[open] {
      pointer-events: all;
    }

    .ui-actions {
      justify-content: end;
      padding-inline: var(--size-3) var(--size-1);
    }

    &[open] {
      opacity: 1;
      transition:
        display calc(0.2s * var(--_motion)) allow-discrete,
        overlay calc(0.2s * var(--_motion)) allow-discrete,
        opacity calc(0.2s * var(--_motion)) var(--ease-out-1);

      @starting-style {
        opacity: 0;
      }
    }

    &[open] {
      margin-block-start: 15%;

      @starting-style {
        opacity: 0;
      }
    }
  }

  :where(html:has(.ui-dialog[open])) {
    block-size: 100%;
    overflow: hidden;
  }
}
