@layer components.root {
  :where(.ui-divider) {
    background-color: var(--border-color);
    block-size: var(--border-size-1);
    margin-block: var(--divider-space, var(--size-fluid-3));

    /* Border color */
    &.ui-filled {
      background-color: var(--surface-filled);
    }

    &.ui-primary {
      background-color: var(--primary);
    }

    &.ui-tonal {
      background-color: var(--surface-tonal);
    }

    @container style(--contrast: more) {
      &.ui-filled,
      &.ui-tonal {
        background-color: var(--border-color);
      }
    }

    @media (forced-colors: active) {
      block-size: 0;
      border-block-start: var(--border-size-1) solid CanvasText;
    }
  }

  :where(.ui-card) > :where(.ui-divider) {
    margin-block: 0;
  }
}
