@layer components.extended {
  :where(.ui-icon-button) {
    --_bg-color: transparent;
    --_border-color: transparent;
    --_border-width: var(--border-size-1);
    --_text-color: inherit;

    align-items: center;
    aspect-ratio: 1;
    background-color: var(--_bg-color);
    block-size: var(--size-6);
    border: var(--_border-width) solid var(--_border-color);
    border-radius: var(--radius-round);
    color: var(--_text-color);
    display: inline-flex;
    inline-size: var(--size-6);
    justify-content: center;
    padding: 0;
    transform-style: preserve-3d;
    transition:
      background-color calc(0.1s * var(--_motion)) ease,
      color calc(0.1s * var(--_motion)) ease,
      border-color calc(0.1s * var(--_motion)) ease;

    &:where([disabled], [aria-disabled="true"]) {
      --_text-color: light-dark(rgb(0, 0, 0/0.3), rgb(255, 255, 255/0.26));
      cursor: not-allowed;
      opacity: 0.64;
    }

    svg {
      block-size: auto;
      inline-size: auto;
      max-block-size: var(--size-5);
      max-inline-size: var(--size-5);
      pointer-events: none;
    }

    /* Ripple effect, utils.css */
    &::before {
      --highlight-size: 130%;
      background-color: transparent;
      transition:
        transform calc(0.2s * var(--_motion)) ease,
        background-color calc(0.1s * var(--_motion)) ease;
    }

    /* Element states */
    &:where(:not([disabled], [aria-disabled="true"])) {
      @media (hover: hover) {
        &:where(:not(:active):hover) {
          &::before {
            background-color: var(--_interaction-hover-color,
                var(--_default-hover-bg-color));
          }
        }
      }

      &:where(:hover:active),
      &[aria-current="page"] {
        &::before {
          background-color: var(--_interaction-active-color,
              var(--_default-active-bg-color));
        }
      }
    }

    /* Size */
    &.ui-small {
      block-size: var(--size-4);
      inline-size: var(--size-4);

      svg {
        max-block-size: var(--size-4);
        max-inline-size: var(--size-4);
      }
    }

    /* Variants */
    &.ui-outlined {
      --_bg-color: transparent;
      --_border-color: var(--_accent);
      --_text-color: var(--_accent);
    }

    &.ui-tonal {
      --_bg-color: var(--_accent-tonal);
      --_text-color: var(--_accent-tonal-contrast);
    }

    &.ui-filled {
      --_bg-color: var(--_accent);
      --_interaction-active-color: var(--_filled-active-bg-color);
      --_interaction-hover-color: var(--_filled-hover-bg-color);
      --_text-color: var(--_accent-contrast);
    }
  }
}
