@layer components.root {
  :where(.ui-link) {
    color: var(--primary);
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    text-decoration: underline;
    text-decoration-color: var(--primary);
    text-underline-offset: 2px;

    &[href] {
      &:hover,
      &:focus-visible {
        color: light-dark(var(--primary-dark), var(--primary-light));
        text-decoration-color: currentColor;
        text-decoration-thickness: 3px;
      }
    }
  }
}
