@layer components.root {
  :where(.ui-progress) {
    --_motion: var(--motion, 1);
    --_accent-color: var(--primary);
    --_bg-color: var(--surface-tonal);

    background-color: var(--_bg-color);
    block-size: var(--size-1);
    border-radius: var(--border-radius);
    display: inline-block;
    inline-size: 100%;
    overflow: hidden;
    position: relative;
    vertical-align: baseline;

    /* Color */
    &.ui-filled {
      --_bg-color: var(--surface-filled);
    }

    &.ui-default {
      --_bg-color: var(--surface-default);
    }

    &.ui-tonal {
      --_bg-color: var(--surface-tonal);
    }

    & > progress {
      appearance: none;
      background: none;
      block-size: 100%;
      border: 0;
      display: block;
      inline-size: 100%;

      &::-webkit-progress-bar {
        background: none;
        border-radius: var(--border-radius);
      }

      &[value]::-webkit-progress-value {
        background-color: var(--_accent-color);
        transition: inline-size calc(var(--duration) * var(--_motion))
          var(--ease-enter);
      }

      &::-moz-progress-bar {
        background-color: var(--_accent-color);
      }
    }
  }

  :where(.ui-progress):has(> progress:indeterminate) {
    &::after {
      animation: ui-indeterminate calc(2s * var(--_motion)) linear infinite;
      background-color: var(--_accent-color);
      content: "";
      inset-block: 0;
      position: absolute;
      will-change: inset-inline-start, inset-inline-end;
    }

    @container style(--motion: 0) {
      &::after {
        animation: ui-indeterminate-pulse 2s ease-in-out infinite;
        inset-inline: 0;
      }
    }

    & > progress {
      &::-webkit-progress-value {
        background-color: transparent;
      }

      &::-moz-progress-bar {
        background-color: transparent;
      }
    }
  }

  @keyframes ui-indeterminate-pulse {
    50% {
      opacity: 0.4;
    }
  }

  @keyframes ui-indeterminate {
    0% {
      inset-inline-end: 100%;
      inset-inline-start: -200%;
    }

    60% {
      inset-inline-end: -8%;
      inset-inline-start: 107%;
    }

    100% {
      inset-inline-end: -8%;
      inset-inline-start: 107%;
    }
  }
}
