@layer components.root {
  :where(.ui-progress) {
    --_motion: var(--motion, 1);
    --_accent-color: var(--primary);
    --_bg-color: var(--surface-tonal);

    background-color: var(--_bg-color);
    block-size: var(--size-1);
    border-radius: var(--border-radius, 0.25rem);
    display: inline-block;
    inline-size: 100%;
    overflow: hidden;
    position: relative;
    vertical-align: baseline;

    /* Color */
    &.ui-filled {
      --_bg-color: var(--surface-filled);
    }

    &.ui-default {
      --_bg-color: var(--surface-default);
    }

    &.ui-tonal {
      --_bg-color: var(--surface-tonal);
    }

    &>progress {
      appearance: none;
      background: none;
      block-size: 100%;
      border: 0;
      display: block;
      inline-size: 100%;

      &::-webkit-progress-bar {
        background: none;
        border-radius: var(--border-radius, 0.25rem);
      }

      &[value]::-webkit-progress-value {
        background-color: var(--_accent-color);
        transition: inline-size calc(0.2s * var(--_motion)) var(--ease-out-4, cubic-bezier(0, 0, 0.1, 1));
      }

      &::-moz-progress-bar {
        background-color: var(--_accent-color);
      }
    }
  }

  :where(.ui-progress):has(> progress:indeterminate) {
    &::after {
      animation: indeterminate calc(2s * var(--motion, 1)) linear infinite;
      background-color: var(--_accent-color);
      content: "";
      inset: 0 auto 0 0;
      position: absolute;
      will-change: inset-inline-start, inset-inline-end;
    }

    &>progress {
      &::-webkit-progress-value {
        background-color: transparent;
      }

      &::-moz-progress-bar {
        background-color: transparent;
      }
    }
  }

  [dir="rtl"] {
    :where(.ui-progress):has(> progress:indeterminate) {
      &::after {
        animation-direction: reverse;
      }
    }
  }

  @keyframes indeterminate {
    0% {
      inset-inline-start: -200%;
      inset-inline-end: 100%;
    }

    60% {
      inset-inline-start: 107%;
      inset-inline-end: -8%;
    }

    100% {
      inset-inline-start: 107%;
      inset-inline-end: -8%;
    }
  }
}
