@layer components.root {
  :where(label.ui-radio) {
    --_accent: light-dark(
      var(--primary),
      oklch(from var(--primary) min(l, 0.62) c h)
    );
    --_accent-contrast: light-dark(var(--primary-contrast), var(--gray-1));
    --_input-size: var(--choice-size);
    --_indicator-size: 50%;

    align-items: start;
    color: var(--text-primary);
    cursor: pointer;
    display: inline-grid;
    gap: 0 var(--size-2);
    grid-auto-columns: auto;
    grid-auto-flow: column;
    inline-size: fit-content;
    line-height: var(--font-lineheight-3);
    transform: translateZ(0);
    user-select: none;

    &:not(:has(.ui-label, .ui-text)) {
      vertical-align: middle;
    }

    /* Disabled */
    &:has([disabled]) {
      cursor: not-allowed;
      opacity: var(--disabled-opacity);
      user-select: none;

      input {
        cursor: not-allowed;
      }
    }

    /* Required dot */
    &:has(:required) {
      .ui-label:after {
        color: var(--field-required-color);
        content: "*";
        inset-block: 0 auto;
        inset-inline: auto -0.25ex;
        position: absolute;
      }
    }

    /* Label */
    .ui-label {
      color: var(--field-label-color);
      font-size: var(--field-label-font-size);
      grid-column: 2;
      grid-row: 1;
      margin-block-start: calc(
        (var(--_input-size) - 1lh) / 2 + var(--choice-label-offset)
      );
      padding-inline: 0 1ex;
      position: relative;
    }

    /* End text */
    :where(.ui-end-text) {
      color: var(--field-helper-color);
      font-size: var(--field-helper-font-size);
      grid-column: 2;
      grid-row: 2;
      line-height: var(--field-helper-line-height);
      z-index: 1;
    }

    /* Spread layout */
    &.ui-spread {
      align-items: start;
      column-gap: var(--size-4);
      grid-auto-flow: unset;
      grid-template-columns: 1fr auto;
      inline-size: 100%;

      .ui-label {
        font-weight: var(--field-label-font-weight);
        grid-column: 1;
        grid-row: 1;
        inline-size: fit-content;
      }

      input {
        grid-column: 2;
        grid-row: 1;
      }

      :where(.ui-end-text) {
        grid-column: 1;
        grid-row: 2;
      }
    }

    /* Stacked layout */
    &.ui-stack {
      grid-auto-columns: unset;
      justify-items: center;

      .ui-label {
        grid-column: 1/-1;
        grid-row: 2;
        margin-block-start: var(--size-1);
        padding-inline: 1ex;
      }

      .ui-end-text {
        grid-column: 1/-1;
        grid-row: 3;
      }
    }

    /* Input */
    input[type="radio"] {
      --_dir-rtl: -1;
      --_ripple-size: 175%;

      appearance: none;
      aspect-ratio: 1;
      background-color: var(--surface-default);
      block-size: var(--_input-size);
      border: var(--field-border-width) solid var(--field-border-color);
      border-radius: var(--radius-round);
      box-sizing: border-box;
      cursor: pointer;
      display: grid;
      inline-size: var(--_input-size);
      margin: 0;
      padding: 0;
      place-items: center;
      position: relative;
      transform-style: preserve-3d;

      &:checked {
        background-color: var(--_accent);
        border-color: var(--_accent);
      }

      /* Dot */
      &::after {
        background-color: var(--_accent-contrast);
        block-size: var(--_indicator-size);
        border-radius: var(--radius-round);
        content: "";
        inline-size: var(--_indicator-size);
        margin: auto;
        opacity: 0;
      }

      &:checked::after {
        opacity: 1;
      }

      /* Hover and active effect */
      &:dir(rtl) {
        --_dir-rtl: 1;
      }

      &:where(:not([disabled], [aria-disabled="true"])) {
        @media (hover: hover) {
          &:hover::before {
            --_thumb-scale: 1;
          }
        }

        &:active::before {
          --_thumb-scale: 1.1;
        }

        &::before {
          --_thumb-scale: 0.01;

          background-color: var(--ripple-color);
          block-size: var(--_ripple-size, 150%);
          clip-path: circle(50%);
          content: "";
          inline-size: var(--_ripple-size, 150%);
          inset-block-start: 50%;
          inset-inline-start: 50%;
          position: absolute;
          transform: translateX(calc(var(--_dir-rtl) * 50%)) translateY(-50%)
            translateZ(-1px) scale(var(--_thumb-scale));
          transform-origin: center center;

          transition: transform calc(var(--duration) * var(--motion, 1))
            var(--ease);
          will-change: transform;
        }
      }
    }

    /* Sizes */
    &.ui-small {
      --_input-size: var(--choice-size-small);
    }

    &.ui-large {
      --_input-size: var(--choice-size-large);
    }

    /* Validation */
    &:has([aria-invalid="true"], :user-invalid) {
      --primary: var(--invalid-color);

      :where(.ui-end-text) {
        color: var(--invalid-text-color);
      }
    }

    @media (forced-colors: active) {
      input[type="radio"] {
        border: 1px solid CanvasText;

        &:checked {
          background-color: SelectedItem;
          border-color: SelectedItem;

          &::after {
            background-color: SelectedItemText;
          }
        }
      }
    }
  }
}
