@layer components.root {
  :where(.ui-tabs) {
    --_accent-color: var(--primary);
    --_bg-color: transparent;
    --_border-color: var(--border-color);
    --_border-radius: var(--border-radius);

    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    position: relative;

    &::before,
    &::after {
      align-self: stretch;
      border-block-end: 1px solid var(--_border-color);
      content: "";
      order: 1;
    }

    &::before {
      flex: 0 0 var(--size-2);
    }

    &::after {
      flex: 1 0 0;
    }

    & > .ui-tab-input[type="radio"] {
      /* utils > .ui-sr-only */
      /* TODO: use mixin for this when available */
      block-size: 1px;
      clip-path: inset(50%);
      inline-size: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;

      &:checked {
        /* Checked Tab */
        & + [role="tab"],
        & + .ui-tab-label {
          background-color: var(--_bg-color);
          border-color: var(--_border-color);
          border-block-end-color: transparent;
          border-block-start-color: var(--_accent-color);
          color: var(--text-primary);

          /* Checked Panel */
          & + [role="tabpanel"],
          & + .ui-tab-panel {
            display: block;
          }
        }
      }

      &:focus-visible {
        & + [role="tab"],
        & + .ui-tab-label {
          --focus-ring-color: var(--text-muted);
          --focus-ring-offset: calc(-1 * var(--size-2));
          outline: var(--focus-ring-width) var(--focus-ring-style)
            var(--focus-ring-color);
          outline-offset: var(--focus-ring-offset);
        }
      }
    }

    /* Tab */
    & > [role="tab"],
    & > .ui-tab-label {
      align-items: center;
      background-color: transparent;
      border: 1px solid transparent;
      border-block-end-color: var(--_border-color);
      border-block-start-width: 2px;
      border-start-end-radius: var(--_border-radius);
      border-start-start-radius: var(--_border-radius);
      color: var(--text-muted);
      cursor: pointer;
      display: inline-flex;
      font-weight: 600;
      justify-content: center;
      line-height: var(--font-lineheight-4);
      order: 1;
      padding: var(--size-2) var(--size-3);
      position: relative;
      transition:
        background-color 0.1s,
        color 0.1s;
      user-select: none;

      @media (hover: hover) {
        &:hover {
          background-color: light-dark(
            oklch(0% 0 0 / 0.04),
            oklch(100% 0 0 / 0.08)
          );
          color: var(--text-primary);
        }
      }
    }

    /* Tab Panel */
    & > [role="tabpanel"],
    & > .ui-tab-panel {
      display: none;
      inline-size: 100%;
      order: 2;
    }
  }
}
