@layer components.extended {
  /* Autosuggest */
  :where(.ui-text-field:has(input[list])) {
    .ui-field {
      position: relative;
    }

    /* Hide native arrow */
    input[list]::-webkit-calendar-picker-indicator {
      cursor: pointer;
      opacity: 0;
      pointer-events: none;
      position: absolute;
    }

    input[list] {
      padding-inline-end: var(--size-8);
    }

    .ui-field::after {
      background-color: var(--text-primary);
      block-size: var(--_chevron-size);
      content: "";
      inline-size: var(--_chevron-size);
      inset-block: 50% auto;
      inset-inline: auto var(--_arrow-inset);
      mask: var(--_chevron-icon) center / contain no-repeat;
      pointer-events: none;
      position: absolute;
      translate: 0 -50%;

      @media (forced-colors: active) {
        background-color: ButtonText;
      }
    }

    &.ui-small,
    &.ui-x-small {
      input[list] {
        padding-inline-end: var(--size-7);
      }
    }
  }
}
