@layer components.extended {
  /* Autosuggest */
  :where(.ui-text-field:has(input[list])) {
    .ui-field {
      position: relative;
    }

    /* Hide native arrow */
    input[list]::-webkit-calendar-picker-indicator {
      cursor: pointer;
      opacity: 0;
      pointer-events: none;
      position: absolute;
    }

    input[list] {
      padding-inline-end: var(--size-8);
    }

    .ui-field::after {
      block-size: 0;
      border-block-start: var(--_arrow-size) solid;
      border-inline: var(--_arrow-size) solid transparent;
      color: var(--text-primary);
      content: "";
      inline-size: 0;
      inset-block: 50% auto;
      inset-inline: auto var(--_arrow-inset);
      pointer-events: none;
      position: absolute;
      translate: 0 -50%;
    }

    &.ui-small,
    &.ui-x-small {
      input[list] {
        padding-inline-end: var(--size-7);
      }
    }
  }
}
