@layer components.extended {
  :where(.ui-textarea) {
    textarea {
      block-size: auto;
      field-sizing: content;
      max-block-size: var(--_max-block-size, 20lh);
      min-block-size: calc(
        var(--_field-padding-block) * 2 + (var(--border-width) * 2) + 3lh
      );
      resize: vertical;
    }

    /* Auto-fit */
    &.ui-auto-fit {
      textarea {
        resize: both;
      }
    }
  }
}
