@layer components.root {
  :where(.ui-toggle-button) {
    --_bg-color: transparent;
    --_font-size: var(--font-size-1);
    --_size: var(--field-size);
    --_svg-size: var(--icon-size);

    align-items: center;
    background-color: var(--_bg-color);
    block-size: var(--_size);
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--button-border-radius);
    color: var(--text-primary);
    cursor: pointer;
    display: inline-flex;
    font-size: var(--_font-size);
    gap: var(--size-2);
    inline-size: fit-content;
    justify-content: center;
    min-inline-size: var(--_size);
    outline-offset: calc(-1 * var(--size-2));
    padding-block: 0;
    padding-inline: var(--size-2);
    position: relative;
    user-select: none;

    input[type="checkbox"],
    input[type="radio"] {
      /* utils.css > .ui-sr-only */
      block-size: 1px;
      clip-path: inset(50%);
      inline-size: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
    }

    /* Element states */
    @media (hover: hover) {
      &:hover:not(:has(input:disabled)) {
        --_bg-color: light-dark(oklch(0% 0 0 / 0.04), oklch(100% 0 0 / 0.08));
      }
    }

    &:has(input:focus-visible) {
      --focus-ring-offset: -6px;
      animation: ui-focus-ring calc(var(--duration) * var(--motion)) var(--ease);
      outline: var(--focus-ring-width) var(--focus-ring-style)
        var(--focus-ring-color, var(--_focus-visible-color));
      outline-offset: var(--focus-ring-offset);
    }

    /* Disabled */
    &:has(input:disabled) {
      border-color: color-mix(in oklch, var(--border-color) 50%, transparent);
      color: color-mix(in oklch, var(--text-primary) 30%, transparent);
      cursor: not-allowed;
    }

    /* svgs */
    svg {
      block-size: var(--_svg-size);
      flex-shrink: 0;
      inline-size: var(--_svg-size);
    }

    /* Selected */
    &:has(:where(input[type="checkbox"], input[type="radio"]):checked) {
      --_bg-color: oklch(from var(--primary) l c h / 25%);

      @media (hover: hover) {
        &:hover:not(:has(input:disabled)) {
          --_bg-color: oklch(from var(--primary) l c h / 35%);
        }
      }

      @container style(--contrast: more) {
        --_bg-color: var(--primary);
        color: var(--primary-contrast);

        @media (hover: hover) {
          &:hover:not(:has(input:disabled)) {
            --_bg-color: oklch(from var(--primary) calc(l * 0.9) c h);
          }
        }
      }
    }

    /* Sizes */
    &.ui-small {
      --_font-size: var(--font-size-05);
      --_size: var(--field-size-small);
    }

    &.ui-x-small {
      --_font-size: var(--font-size-0);
      --_size: var(--field-size-x-small);
    }

    &.ui-large {
      --_size: var(--field-size-large);
      padding-inline: var(--size-3);
    }

    @media (forced-colors: active) {
      &:has(:where(input[type="checkbox"], input[type="radio"]):checked) {
        --focus-ring-color: SelectedItemText;

        background-color: SelectedItem;
        border-color: SelectedItem;
        color: SelectedItemText;
        forced-color-adjust: none;
      }
    }
  }
}
