---
import { Table } from "@opui/astro"
---

<Table>
  <Table.ColumnGroup>
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 300px" />
  </Table.ColumnGroup>
  <Table.Head>
    <Table.Row>
      <Table.HeaderCell>Type</Table.HeaderCell>
      <Table.HeaderCell>Modifiers</Table.HeaderCell>
      <Table.HeaderCell>Default</Table.HeaderCell>
      <Table.HeaderCell>Description</Table.HeaderCell>
    </Table.Row>
  </Table.Head>
  <Table.Body>
    <Table.Row>
      <Table.Cell>Colors</Table.Cell>
      <Table.Cell><code>.critical</code>, <code>.primary</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell
        >Color modifiers; cascade to every button in the group. Default is a
        neutral gray.</Table.Cell
      >
    </Table.Row>
    <Table.Row>
      <Table.Cell>Orientation</Table.Cell>
      <Table.Cell><code>.vertical</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>Orientation modifier.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell>Sizes</Table.Cell>
      <Table.Cell><code>.small</code>, <code>.large</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>Size modifiers.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell>Variants</Table.Cell>
      <Table.Cell
        ><code>.outlined</code>, <code>.tonal</code>, <code>.filled</code
        ></Table.Cell
      >
      <Table.Cell>-</Table.Cell>
      <Table.Cell>Style modifiers.</Table.Cell>
    </Table.Row>
  </Table.Body>
</Table>
