---
import { Table } from "@opui/astro"
---

<Table>
  <Table.ColumnGroup>
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 300px" />
  </Table.ColumnGroup>
  <Table.Head>
    <Table.Row>
      <Table.HeaderCell>Type</Table.HeaderCell>
      <Table.HeaderCell>Modifiers</Table.HeaderCell>
      <Table.HeaderCell>Default</Table.HeaderCell>
      <Table.HeaderCell>Description</Table.HeaderCell>
    </Table.Row>
  </Table.Head>
  <Table.Body>
    <Table.Row>
      <Table.Cell>Container</Table.Cell>
      <Table.Cell><code>.ui-anchor.ui-badge</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell
        >Wrapper element. Extends <a href="/components/anchor">Anchor</a
        >.</Table.Cell
      >
    </Table.Row>
    <Table.Row>
      <Table.Cell>Floating</Table.Cell>
      <Table.Cell><code>.ui-anchor-floating</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>Positioned floating container from Anchor.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell>Indicator</Table.Cell>
      <Table.Cell><code>.ui-badge-indicator</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell
        >The badge content element inside <code>.ui-anchor-floating</code
        >.</Table.Cell
      >
    </Table.Row>
    <Table.Row>
      <Table.Cell>Alignment</Table.Cell>
      <Table.Cell
        ><code>.ui-start-start</code>, default, <code>.ui-end-start</code>, <code
          >.ui-end-end</code
        ></Table.Cell
      >
      <Table.Cell>-</Table.Cell>
      <Table.Cell
        >Position modifiers on <code>.ui-badge</code>. Default is centered on
        the end edge.</Table.Cell
      >
    </Table.Row>
    <Table.Row>
      <Table.Cell>Color</Table.Cell>
      <Table.Cell
        ><code>.ui-critical</code>, <code>.ui-info</code>, <code
          >.ui-neutral</code
        >,
        <code>.ui-success</code>, <code>.ui-warning</code></Table.Cell
      >
      <Table.Cell>-</Table.Cell>
      <Table.Cell>Color modifiers on <code>.ui-badge</code>.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell>Variants</Table.Cell>
      <Table.Cell><code>.ui-dot</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>Shape modifier on <code>.ui-badge</code>.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell>Visibility</Table.Cell>
      <Table.Cell><code>.ui-invisible</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>Visibility modifier on <code>.ui-badge</code>.</Table.Cell>
    </Table.Row>
  </Table.Body>
</Table>
