---
import { Table } from "@opui/astro"
---

<h3 id="list-astro">List</h3>

<Table>
  <Table.ColumnGroup>
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 300px" />
  </Table.ColumnGroup>
  <Table.Head>
    <Table.Row>
      <Table.HeaderCell>Prop</Table.HeaderCell>
      <Table.HeaderCell>Type</Table.HeaderCell>
      <Table.HeaderCell>Default</Table.HeaderCell>
      <Table.HeaderCell>Description</Table.HeaderCell>
    </Table.Row>
  </Table.Head>
  <Table.Body>
    <Table.Row>
      <Table.Cell><code>bordered</code></Table.Cell>
      <Table.Cell><code>boolean</code></Table.Cell>
      <Table.Cell><code>false</code></Table.Cell>
      <Table.Cell>Adds a border between list items.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell><code>dense</code></Table.Cell>
      <Table.Cell><code>boolean</code></Table.Cell>
      <Table.Cell><code>false</code></Table.Cell>
      <Table.Cell>Packs the list tighter.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell><code>gutterless</code></Table.Cell>
      <Table.Cell><code>boolean</code></Table.Cell>
      <Table.Cell><code>false</code></Table.Cell>
      <Table.Cell>Removes list inline padding.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell><code>variant</code></Table.Cell>
      <Table.Cell><code>"default" | "tonal" | "transparent"</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>The background color variant of the list.</Table.Cell>
    </Table.Row>
  </Table.Body>
</Table>

<h3 id="list-item-astro">List item</h3>

<Table>
  <Table.ColumnGroup>
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 300px" />
  </Table.ColumnGroup>
  <Table.Head>
    <Table.Row>
      <Table.HeaderCell>Prop</Table.HeaderCell>
      <Table.HeaderCell>Type</Table.HeaderCell>
      <Table.HeaderCell>Default</Table.HeaderCell>
      <Table.HeaderCell>Description</Table.HeaderCell>
    </Table.Row>
  </Table.Head>
  <Table.Body>
    <Table.Row>
      <Table.Cell><code>as</code></Table.Cell>
      <Table.Cell><code>string</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell
        >Renders an inner element of the given tag (e.g. <code>"a"</code>, <code
          >"button"</code
        >). All extra props are forwarded to it, so any HTML attribute is
        supported without enumeration.</Table.Cell
      >
    </Table.Row>
    <Table.Row>
      <Table.Cell><code>borderTop</code></Table.Cell>
      <Table.Cell><code>boolean</code></Table.Cell>
      <Table.Cell><code>false</code></Table.Cell>
      <Table.Cell>List item top border.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell><code>headline</code></Table.Cell>
      <Table.Cell><code>string</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>The main text for the list item.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell><code>inset</code></Table.Cell>
      <Table.Cell><code>boolean</code></Table.Cell>
      <Table.Cell><code>false</code></Table.Cell>
      <Table.Cell>Aligns with items that have a start icon.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell><code>supportingText</code></Table.Cell>
      <Table.Cell><code>string</code></Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>Extra text displayed below the headline.</Table.Cell>
    </Table.Row>
  </Table.Body>
</Table>
