---
import { Table } from "@opui/astro"
---

<Table>
  <Table.ColumnGroup>
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 300px" />
  </Table.ColumnGroup>
  <Table.Head>
    <Table.Row>
      <Table.HeaderCell>Type</Table.HeaderCell>
      <Table.HeaderCell>Modifiers</Table.HeaderCell>
      <Table.HeaderCell>Default</Table.HeaderCell>
      <Table.HeaderCell>Description</Table.HeaderCell>
    </Table.Row>
  </Table.Head>
  <Table.Body>
    <Table.Row>
      <Table.Cell>Bordered</Table.Cell>
      <Table.Cell
        ><code>.ui-bordered</code>, <code>.ui-bordered.ui-dotted</code></Table.Cell
      >
      <Table.Cell>-</Table.Cell>
      <Table.Cell
        >Adds a separator between the term and description on all items. Add{
          " "
        }
        <code>.ui-dotted</code> for a dotted style.</Table.Cell
      >
    </Table.Row>
  </Table.Body>
</Table>
