---
import { Table } from "@opui/astro"
---

<Table>
  <Table.ColumnGroup>
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 300px" />
  </Table.ColumnGroup>
  <Table.Head>
    <Table.Row>
      <Table.HeaderCell>Type</Table.HeaderCell>
      <Table.HeaderCell>Modifiers</Table.HeaderCell>
      <Table.HeaderCell>Default</Table.HeaderCell>
      <Table.HeaderCell>Description</Table.HeaderCell>
    </Table.Row>
  </Table.Head>
  <Table.Body>
    <Table.Row>
      <Table.Cell>Variant</Table.Cell>
      <Table.Cell
        ><code>.ui-border-tonal</code>, <code>.ui-border-filled</code>, <code
>.ui-border-primary</code></Table.Cell
      >
      <Table.Cell>-</Table.Cell>
      <Table.Cell>Visual variant modifiers.</Table.Cell>
    </Table.Row>
  </Table.Body>
</Table>
