---
import { Anchor } from "@opui/astro"
---

<Anchor trigger="hover" id="anchor-hover">
  <button
    interestfor="anchor-hover"
    commandfor="anchor-hover"
    command="toggle-popover">Hover me</button
  >
  <span slot="anchored"><div class="ui-card ui-elevated">Tooltip content</div></span>
</Anchor>
