---
import { Table } from "@opui/astro"
---

<Table>
  <Table.ColumnGroup>
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 20%" />
    <Table.Column width="min-width: 300px" />
  </Table.ColumnGroup>
  <Table.Head>
    <Table.Row>
      <Table.HeaderCell>Type</Table.HeaderCell>
      <Table.HeaderCell>Modifiers</Table.HeaderCell>
      <Table.HeaderCell>Default</Table.HeaderCell>
      <Table.HeaderCell>Description</Table.HeaderCell>
    </Table.Row>
  </Table.Head>
  <Table.Body>
    <Table.Row>
      <Table.Cell><strong>Styles</strong></Table.Cell>
      <Table.Cell><code>.ui-dialog.ui-card.ui-elevated</code></Table.Cell>
      <Table.Cell>Included</Table.Cell>
      <Table.Cell>The dialog uses card styles by default.</Table.Cell>
    </Table.Row>
    <Table.Row>
      <Table.Cell><strong>Closed by</strong></Table.Cell>
      <Table.Cell><code>closedby</code> attribute</Table.Cell>
      <Table.Cell>-</Table.Cell>
      <Table.Cell>The attribute used to control close behavior.</Table.Cell>
    </Table.Row>
  </Table.Body>
</Table>
