---
import { Button } from "@opui/astro"
---

<Button variant="outlined">Outlined</Button>
<Button variant="outlined" disabled>Disabled</Button>
<Button variant="outlined" href="#outlined">Link</Button>
