





























            --_dot-outline-size: calc(var(--size-1) + 1px);
            background-color var(--_transition-time) var(--_transition-tf),
            background-color var(--_transition-time) var(--_transition-tf),
            border-color var(--_transition-time) var(--_transition-tf);
            border-color var(--_transition-time) var(--_transition-tf);
            var(--_track-width) - var(--_dot-size) - var(--size-1)
          --_dot-bg-color: var(--_accent-contrast);
          --_dot-outline-size: calc(var(--size-1) - 1px);
          --_dot-outline-size: calc(var(--size-1) + 1px);
          );
          }
          &:active:after {
          background-color: var(--_accent-color);
          border-color: var(--_accent-color);
          display: block;
          display: none;
          inset-inline-start: calc(
          margin-inline-start: var(--size-1);
          transition:
          transition:
          transition: all var(--_transition-time) var(--_transition-tf);
          var(--_track-width) - var(--_dot-size) - var(--size-1)
        .icon-checked {
        .icon-unchecked {
        );
        }
        }
        }
        }
        }
        }
        }
        }
        }
        /* Dot */
        /* Dot */
        /* Track */
        &::after {
        &::after {
        &::before {
        &::before {
        &:active:after {
        &:checked {
        &.icon-checked {
        background-color: var(--_dot-bg-color);
        background-color: var(--_track-bg-color);
        block-size: var(--_dot-size);
        block-size: var(--_track-height);
        border-radius: 100vmax;
        border-radius: 100vmax;
        border-radius: var(--radius-round);
        border: 1px solid var(--_dot-bg-color);
        color: var(--color-9);
        color: var(--red);
        content: "";
        content: "";
        content: "*";
        cursor: not-allowed;
        display: none;
        grid-column: 1 / -1;
        grid-column: 1;
        grid-column: 1/-1;
        grid-column: 1/-1;
        grid-row: 1;
        grid-row: 1;
        grid-row: 2;
        grid-row: 3;
        inline-size: var(--_dot-size);
        inline-size: var(--_dot-size);
        inline-size: var(--_track-width);
        inset: 0 -0.25ex auto auto;
        inset: 0;
        inset: var(--_dot-inset);
        margin-block-start: var(--size-1);
        margin-inline-start: calc(
        outline-offset: -1px;
        outline-offset: 2px;
        outline: 2px solid currentColor;
        outline: 2px solid var(--color-9);
        outline: var(--_dot-outline-size) solid var(--_dot-bg-color);
        padding-inline: 1ex;
        pointer-events: none;
        position: absolute;
        position: absolute;
        position: absolute;
        z-index: 1;
      --_dot-size: 0.75rem;
      --_track-height: var(--size-4);
      --_track-width: 2.5rem;
      .icon-checked {
      .label {
      .label,
      .label:after {
      .supporting-text {
      .supporting-text {
      [role="switch"] {
      }
      }
      }
      }
      }
      }
      }
      }
      }
      }
      }
      }
      }
      }
      }
      @media (prefers-reduced-motion: no-preference) {
      /* Animation */
      /* Checked */
      /* Dot */
      /* Track */
      &::after {
      &::before {
      &:checked {
      &:focus-visible {
      &:has([role="switch"]:checked) {
      appearance: none;
      block-size: var(--_track-height);
      color: var(--text-color-2);
      cursor: not-allowed;
      cursor: pointer;
      font-size: var(--font-size-xs);
      grid-auto-columns: unset;
      grid-column: 2;
      grid-column: 2;
      grid-row: 1;
      grid-row: 2;
      inline-size: var(--_track-width);
      input {
      input {
      justify-items: center;
      line-height: 1.5;
      margin: 0;
      min-width: 0;
      opacity: 0.64;
      padding-inline: 0 1ex;
      position: relative;
      position: relative;
      svg {
      user-select: none;
      user-select: none;
      z-index: 1;
    --_accent-color: var(--primary);
    --_accent-contrast: var(--primary-contrast);
    --_dot-bg-color: light-dark(var(--gray-11), var(--gray-14));
    --_dot-inset: var(--size-1) auto auto var(--size-1);
    --_dot-outline-size: 0;
    --_dot-size: var(--size-3);
    --_track-bg-color: light-dark(var(--gray-3), var(--gray-8));
    --_track-height: var(--size-5);
    --_track-width: var(--size-8);
    --_transition-tf: var(--ease-4);
    --_transition-time: 0.2s;
    .label {
    .supporting-text {
    }
    }
    }
    }
    }
    }
    }
    }
    }
    /* Disabled */
    /* Icons */
    /* Label */
    /* Required dot */
    /* Size */
    /* Stacked layout */
    /* Supporting text */
    /* Validation */
    &:has(.icon-checked, .icon-unchecked) {
    &:has([disabled]) {
    &:has([required]:not(:checked)) {
    &.error {
    &.small {
    &.stack {
    align-items: center;
    color: var(--text-color-1);
    display: inline-grid;
    gap: 0 var(--size-2);
    grid-auto-columns: auto;
    grid-auto-flow: column;
    inline-size: fit-content;
    input[type="checkbox"][role="switch"] {
  :where(.switch) {
  }
}
@layer components.root {
