---
import { Callout } from "@opui/astro"
---

<Callout>
  <Fragment slot="title">Note</Fragment>
  <p>
    This is a tonal Callout. Notice the lack of icons - it's not really needed
    here.
  </p>
</Callout>
<Callout variant="outlined">
  <Fragment slot="title">Another Callout</Fragment>
  <p>
    This is an outlined Callout. Why not use a <a
      class="link"
      href="/components/card">Card</a
    > since they look very similar? For one, the Callout is a more focused component
    with different properties.
  </p>
</Callout>
