@layer utils {
  .ui-motion-off {
    --motion: 0 !important;
  }

  .ui-motion-on {
    --motion: 1 !important;
  }

  .ui-motion-debug {
    --motion: 10 !important;
  }

  /*
Screen-reader only
*/
  .ui-sr-only {
    block-size: 1px;
    clip-path: inset(50%);
    inline-size: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }

  /*
Scroll-lock
Add `.ui-scroll-lock` to any element that uses the [open] attribute (native <dialog>,
<details>, or any custom element). When that element is open, the page is locked.
*/
  html:has(.ui-scroll-lock[open]) {
    overflow: clip;
    overscroll-behavior: contain;
    scrollbar-gutter: stable;
  }

  /* Hover and active effect for checkbox, radio and icon buttons */
  :where(.ui-checkbox input, .ui-radio input, .ui-icon-button) {
    --_dir-ltr: 1;
    --_dir-rtl: -1;

    position: relative;
    transform-style: preserve-3d;

    &:dir(rtl) {
      --_dir-ltr: -1;
      --_dir-rtl: 1;
    }

    &:where(:not([disabled])) {
      &:hover:before {
        --_thumb-scale: 1;
      }

      &:active:before {
        --_thumb-scale: 1.1;
      }

      &::before {
        --_thumb-scale: 0.01;
        --_highlight-size: 150%;

        background-color: oklch(0.6 0 0 / 0.2);
        block-size: var(--_highlight-size);
        clip-path: circle(50%);
        content: "";
        inline-size: var(--_highlight-size);
        inset-block-start: 50%;
        inset-inline-start: 50%;
        position: absolute;
        transform: translateX(calc(var(--_dir-rtl) * 50%)) translateY(-50%)
          translateZ(-1px) scale(var(--_thumb-scale));
        transform-origin: center center;

        transition: transform calc(var(--duration) * var(--motion, 1))
          var(--ease);
        will-change: transform;
      }
    }
  }
}
