---
import Header from "../components/Header.astro"
import Layout from "./Layout.astro"

type Props = {
  title?: string
  description?: string
  image?: string
}

const { title, description, image } = Astro.props
---

<Layout title={title} description={description} image={image}>
  <a href="#main-content" class="ui-sr-only">Skip to main content</a>

  <Header>
    <slot name="toolbar" slot="toolbar" />
  </Header>

  <slot />
</Layout>
